@model PublicHomePage.Models.ViewModels.HomeModel

<div class="text-center">
    <h1 class="display-4">Tryggves quote of the moment</h1>

    <div>
        <hr/>
        <p>@Model.Quote.Text</p>
        <i>-@Model.Quote.Author</i>
        <hr/>
    </div>
</div>